body {
  background-color: #e6ecf0;
}

h1,
p {
  color: white;
  font-family: "Arial";
}

h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
}

.randomQuote {
  font-size: 30px;
}

.quoteAuthor {
  font-style: italic;
  font-size: 24px;
}

/* #twitter {
} */

/* #newQuote {
} */

.quoteHolder {
  background-color: #ffffff;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  border-color: #1da1f2;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  height: auto;
}
